.header {
    position: sticky;
    top: 0;
    box-sizing: border-box;
    z-index: 10;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
    padding: 0 16px;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

.head_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #bdc3c7;
    padding: 0 16px;
    background-color: #fff;
}

.btn-new-entries {
    background-color: #04AA6D;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 4px;
    margin-right: 10px;
    display: block;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
