.modal {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    z-index: 20;
    display: flex;
  }

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .input__form {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
  }

  .input__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .input__wrapper div {
    display: flex;
    flex-direction: column;
    width: 48%;
  }

  .input__wrapper div input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
  }
  input.btn-form {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
  }
  
  input.btn-form:hover {
    background-color: #45a049;
  }