.wrap_list {
    box-sizing: border-box;
    padding: 0 16px;
    padding-bottom: 50px;
    margin-top: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 281px;
    padding: 10px;
    border: 1px solid #dfe6e9;
    position: relative;
  }
  
  .card >img:nth-child(2) {
    height: 300px;
    object-fit: cover;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .dots {
    cursor: pointer;
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
  }
  
  .container {
    padding: 2px 16px;
  }

  .modal {
    box-sizing: border-box;
    display: none;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }


  .input__form {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
  }

  .input__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .input__wrapper div {
    display: flex;
    flex-direction: column;
    width: 48%;
  }

  .input__wrapper div input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
  }
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

@media screen and (min-width: 965px) and (max-width: 1615px) {
  .wrap_list {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (min-width: 540px) and (max-width:964px) {
  .wrap_list {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 539px) {
  .wrap_list {
    grid-template-columns: auto;
  }
}